<section id="search" class="search-wrap">
    <h1>Find A Task</h1>
    <form action="/tasks/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="App Development, Walking the Dog, Grocery service..">
      <input type="submit" value="Search">
    </form>
  </section>