<!-- views/profile.ejs -->

<section id="profile" class="container">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        {{#user}}
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Halper</h3>
                    <p>
                        <strong>aid</strong>: {{aid}} <br>
                        <strong>email</strong>: {{email}} <br>
                        <strong>password</strong>: {{password}}
                    </p>
            </div>
        </div>
        {{/user}}
    
        <div class= "col-sm-6">
            <div style="text-align:center" class="well">
                <h3><span class="fa fa-cog"></span> Test Modes</h3>
                <h3></h3><a href="/add" class="btn btn-default btn-lg btn-block">Create Tasks</a></h3>
                {{!-- <h3></h3><a href="/alltasks" class="btn btn-default btn-lg btn-block">All My Tasks</a></h3> --}}
                <h3></h3><a href="/opentasks" class="btn btn-default btn-lg btn-block">My Current Listing</a></h3>
                <h3></h3><a href="/taskinprogress" class="btn btn-default btn-lg btn-block">Deployed Tasks</a></h3>
                <h3></h3><a href="/completedtasks" class="btn btn-default btn-lg btn-block">Finished Tasks</a></h3>
                <h3></h3><a href="/toreview" class="btn btn-default btn-lg btn-block">Review Completed Tasks</a></h3>
            </div>
        </div>

    </div>
</section>