<!-- views/profile.ejs -->

<section id="profile" class="container">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Halper</h3>
                    <p>
                        <strong>aid</strong>: {{user.id}} <br>
                        <strong>email</strong>: {{user.user}} <br>
                        <strong>password</strong>: {{user.password}}
                    </p>

            </div>
        </div>
    
        <div class= "col-sm-6">
            <div class="well">
                <h3><span href="/add" class="btn btn-primary btn-lg">Create Tasks</span></h3>
                <h3><span class="btn btn-primary btn-lg">View My Tasks</span></h3>
                <h3><span class="btn btn-primary btn-lg">Functions</span></h3>
                <h3><span class="btn btn-primary btn-lg">Functions</span></h3>
                <h3><span class="btn btn-primary btn-lg">Functions</span></h3>
            </div>
        </div>

    </div>
</section>